### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#District sumary 
school_count = len(school_data_complete["school_name"].unique())
student_count = school_data_complete["Student ID"].count()

#Calculate the total Budget
total_budget = school_data["budget"].sum()

#Average scores
average_math_score = school_data_complete["math_score"].mean()
average_reading_score = school_data_complete["reading_score"].mean()
average_passing_rate = (average_math_score + average_reading_score)/2
#average_passing_rate
#Calculate Precentage Pass Rate
passing_math_count = school_data_complete[(school_data_complete["math_score"] >=70)].count()["student_name"]
#passing_math_count
passing_math_percentage = passing_math_count / float(student_count) *100

passing_reading_count = school_data_complete[(school_data_complete["reading_score"]>=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) *100
#passing_reading_percentage

district_summary = pd.DataFrame({
    "Total Schools" :[school_count],
    "Total Students" : [student_count],
    "Total Budget" : [total_budget],
    "Average Math Score" : [average_math_score],
    "Average Reading Score" : [average_reading_score],
    "% Passing Math" : [passing_math_percentage],
    "% Passing Reading" : [passing_reading_percentage],
    "% Overall Passing Rate" : [average_passing_rate]
})
#district_summary
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}".format)
district_summary["% Overall Passing Rate"] = district_summary["% Overall Passing Rate"].map("{:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.43

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [3]:
school_type = school_data.set_index(["school_name"])["type"]

#Calculate the total student count
per_school_counts = school_data_complete["school_name"].value_counts()

per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget/per_school_counts

#Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
#Calculate passing scores by filtering
school_passing_math = school_data_complete[(school_data_complete["math_score"]>=70)]
school_passing_reading = school_data_complete[(school_data_complete["reading_score"]>=70)]

per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"]/per_school_counts *100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"]/per_school_counts *100

overall_passing_rate = (per_school_passing_math + per_school_passing_reading)/2

per_school_summary =pd.DataFrame ({
            "School_type" : school_type,
            "Total Students":per_school_counts,
            "Total School Budget":per_school_budget,
            "Per Student Budget":per_school_capita,
            "Average Math Score": per_school_math,
            "Average Reading Score":per_school_math,
            "% Passing Math": per_school_passing_math,
            "% Passing Reading" : per_school_passing_reading,
            "% Overall_passing_rate":overall_passing_rate
})
#per_school_summary
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

per_school_summary

,School_type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall_passing_rate
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,77.048432,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.061895,94.133477,97.039828,95.586652
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,76.711767,65.988471,80.739234,73.363852
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,77.102592,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.351499,93.392371,97.138965,95.265668
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,77.289752,66.752967,80.862999,73.807983
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.803279,92.505855,96.252927,94.379391
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,76.629414,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,77.072464,66.057551,81.222432,73.639992
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,83.839917,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,76.842711,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.359455,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.418349,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.274201,93.867718,96.539641,95.203679
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.682222,93.333333,96.611111,94.972222

# Top Performing Schools (By Passing Rate)

In [6]:
#Sort and display the five top-performing schools

In [ ]:
top_schools= per_school_summary.sort_values(["% Overall_passing_rate"],ascending=False)
top_schools.head(5)

#bottom Performing Schools (By Passing Rate)

In [ ]:
* Sort and display the five top-performing schools

In [ ]:
bottom_schools= per_school_summary.sort_values(["% Overall_passing_rate"],ascending=True)
bottom_schools.head(5)

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
#Creat a date series for grade levels using conditions
ninth_grader = school_data_complete[(school_data_complete["grade"]=="9th")]
tenth_grader = school_data_complete[(school_data_complete["grade"]=="10th")]
eleventh_grader = school_data_complete[(school_data_complete["grade"]=="11th")]
twelveth_grader = school_data_complete[(school_data_complete["grade"]=="12th")]

ninth_grader_scores = ninth_grader.groupby(["school_name"]).mean()["math_score"]
tenth_grader_scores = ninth_grader.groupby(["school_name"]).mean()["math_score"]
eleventh_grader_scores = ninth_grader.groupby(["school_name"]).mean()["math_score"]
twelveth_grader_scores = ninth_grader.groupby(["school_name"]).mean()["math_score"]

scores_by_grade =pd.DataFrame({
        "9th":ninth_grader_scores,
        "10th":tenth_grader_scores,
        "11th" : eleventh_grader_scores,
        "12th" :twelveth_grader_scores
})
scores_by_grade

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
#Creat a date series for grade levels using conditions
ninth_grader = school_data_complete[(school_data_complete["grade"]=="9th")]
tenth_grader = school_data_complete[(school_data_complete["grade"]=="10th")]
eleventh_grader = school_data_complete[(school_data_complete["grade"]=="11th")]
twelveth_grader = school_data_complete[(school_data_complete["grade"]=="12th")]

ninth_grader_scores = ninth_grader.groupby(["school_name"]).mean()["reading_score"]
tenth_grader_scores = ninth_grader.groupby(["school_name"]).mean()["reading_score"]
eleventh_grader_scores = ninth_grader.groupby(["school_name"]).mean()["reading_score"]
twelveth_grader_scores = ninth_grader.groupby(["school_name"]).mean()["reading_score"]

scores_by_grade =pd.DataFrame({
        "9th":ninth_grader_scores,
        "10th":tenth_grader_scores,
        "11th" : eleventh_grader_scores,
        "12th" :twelveth_grader_scores
})
scores_by_grade

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
#Categorized the Spending based on bins
per_school_summary["Spending Ranges(Per Student)"] = pd.cut(per_school_capita,spending_bins,labels= group_names)

spending_math_scores =per_school_summary.groupby(["Spending Ranges(Per Student)"]).mean()["Average Math Score"]
spending_reading_scores =per_school_summary.groupby(["Spending Ranges(Per Student)"]).mean()["Average Reading Score"]
spending_passing_math =per_school_summary.groupby(["Spending Ranges(Per Student)"]).mean()["% Passing Math"]
spending_passing_reading =per_school_summary.groupby(["Spending Ranges(Per Student)"]).mean()["% Passing Reading"]
overall_passing_rate = (spending_passing_math+spending_passing_reading)/2

spending_summary = pd.DataFrame({
        "Average Math Score": spending_math_scores,
        "Average Reading Score" :spending_reading_scores,
        "% Passing Math": spending_passing_reading,
        "% Passing Reading" : spending_passing_reading,
        "% overall_passing_rate":overall_passing_rate
})

spending_summary

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"],size_bins,labels=group_names)

size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
overall_passing_rate = (size_passing_math + size_passing_reading)/2

size_summary = pd.DataFrame({
    "Average Math Score" : size_math_scores,
    "average Reading Score" : size_reading_scores,
    "% Passing Math" : size_passing_math,
    "% Passing Reading" : size_passing_reading,
    " % overall_passing_rate" : overall_passing_rate
})

size_summary

## Scores by School Type

* Perform the same operations as above, based on school type.

In [11]:
type_math_scores = per_school_summary.groupby(["School_type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary.groupby(["School_type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary.groupby(["School_type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary.groupby(["School_type"]).mean()["% Passing Reading"]
overall_passing_rate = (type_passing_math + type_passing_reading)/ 2

type_summary =pd.DataFrame({
    "Average Math Score" : type_math_scores,
    "average Reading Score" : type_reading_scores,
    "% Passing Math" : type_passing_math,
    "% Passing Reading" : type_passing_reading,
    " % overall_passing_rate" : overall_passing_rate
    
})
type_summary

,Average Math Score,average Reading Score,% Passing Math,% Passing Reading,% overall_passing_rate
School_type,,,,,
Charter,83.473852,83.473852,93.620830,96.586489,95.103660
District,76.956733,76.956733,66.548453,80.799062,73.673757